aside{
    width: 15%;
    background-color: rgba(0, 0, 0, .2);
    min-height: 100vh;
    float: left;
}
img.logo{
    width: 100%;
}
.box-links{
    margin-top: 90px;
    text-align: center;
}
li{
    margin: 0 5% 20% 5%;
}
i{
    padding: 10px;
}
ul.links a{
    padding: 5%;
    font-size: 17px;
    font-weight: bold;
    color: #CEFFFF;
    border-radius: 20px;
    align-items: center;
}
ul.links a:hover{
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, .8);
}
