*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(230, 248, 248);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
.monsieur {
    font-family: "Monsieur La Doulaise", serif;
    font-weight: 400;
    font-style: normal;
}
.line{
    border-bottom: 2px solid #000;
    margin: 2% auto;
    width: 50%;
}